<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Pattern with traceId & spanId (from MDC) -->
    <property
        name="LOG_PATTERN"
        value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [traceId=%X{traceId} spanId=%X{spanId}] %msg%n"
    />

    <!-- Console appender (colorized) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Set root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>

    <!-- Example custom logger -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.

</configuration>
